<center> <h1> Welcome to RecipeBox, <%= @user.username %></h1> 
<img style='width: 300px' src="https://cdn.pixabay.com/photo/2015/08/25/03/50/herbs-906140_1280.jpg">
<br><br>
<a href="/recipes/new"> Click here to add a new recipe</a><br><br>
<a href="/recipes">Click here to see all recipes</a>
<a href="/categories/new">Create Category</a>
<br><br></center>