<h3> This category already exists. Please create a new category or add a recipe to this category. </h3>
<br><br>
<%= link_to "Click here to add a new recipe to an existing category", new_recipe_path(@recipe)%><br><br>
<br><br>
<%= link_to "Go back to create a new category", new_category_path(@category) %><br><br>
