<center> 
<h1> <%= @category.category_name %> </h1>
<br>
<h3>Recipes in this category </h3>
<% @category.recipes.each do |recipe| %>
    <%= link_to recipe.recipe_name, recipe_path(recipe) %>
<%end%>
<br><br>
<%= link_to "Return to your homepage", user_path(@user)%>

</center>
